/HeartRateCalculator/nbproject/private/
/HeartRateCalculator/build/
/SumOfNumber/nbproject/private/
/SumOfNumber/build/
/NetSallary/nbproject/private/
/NetSallary/build/
/Compare_and_LogicalOperators/nbproject/private/
/Compare_and_LogicalOperators/build/
/Increment_Decrement/nbproject/private/
/Increment_Decrement/build/
/ShowNextChar/nbproject/private/
/ShowNextChar/build/
/Maths_2/nbproject/private/
/Maths_2/build/
/Gui_training/nbproject/private/
/Gui_training/build/
/BMI/nbproject/private/
/BMI/build/
/BMR/nbproject/private/
/BMR/build/
/Calculator/nbproject/private/
/Calculator/build/
/LoanPayment/nbproject/private/
/LoanPayment/build/
/Final_Project/nbproject/private/
/Final_Project/build/
/Final_Project/dist/
/SmallestNumberFinder/nbproject/private/
/SmallestNumberFinder/build/
/GradeEvaluator/nbproject/private/
/GradeEvaluator/build/
/ZakatCalculator/nbproject/private/
/ZakatCalculator/build/
/CalculateNumbers/nbproject/private/
/CalculateNumbers/build/
/HeartRateCalculator11/nbproject/private/
/HeartRateCalculator11/build/
/CalculateArea/nbproject/private/
/CalculateArea/build/
/Project/nbproject/private/
/MathematicalCalculations/build/
